<header>
    <div class="element">
        <span class="tooltip-element down home">
            <a href="/">
                <img class="logo" src="/images/logo.webp?<%= currentTime %>" />
            </a>
            <p class="tooltip"><%= headerContents.home %></p>
        </span>
        <ul class="link-menu">
            <li class="beatmaps">
                <a href="/"><%= headerContents.maplist %></a>
            </li>
            <li class="leaderboard">
                <a href="/leaderboard"><%= headerContents.leaderboard %></a>
            </li>
            <li class="documents">
                <a href="/documents"><%= headerContents.docs %></a>
            </li>
            <li class="discord">
                <a class="an-tab" href="/discord" target="_blank" rel="noopener noreferrer"><%= headerContents.discord %></a>
            </li>
            <li class="donation">
                <span class="tooltip-element down">
                    <a href="/"><i class="fa-solid fa-heart"></i></a>
                    <p class="tooltip"><%= headerContents.donation %></p>
                </span>
            </li>
            <li class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
            </li>
            <% if (isLoggedIn) { %>
                <li class="user-avatar">
                    <a class="tooltip-element down" href="/">
                        <img src="https://a.mamesosu.net/<%= userid %>?<%= currentTime %>" loading="lazy" alt="" />
                        <p class="tooltip"><%= username %></p>
                    </a>
                </li>
            <% } else { %>
                <li class="register">
                    <a href="/account?class=register"><%= headerContents.register %></a>
                </li>
                <li class="signin">
                    <a href="/account?class=signin"><%= headerContents.signin %></a>
                </li>
            <% } %>
        </ul>
    </div>
</header>