<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset = "utf-8">
        <title>LeaderBoard</title>
        <%- include("link") %>
        <link rel = "stylesheet" href = "/css/leaderboard.css">
    </head>
    <body>
        <%- include("header") %>
        <div class = "main">
            <% rankings.forEach((ranking) => { %>
                <div class = "ranking-data">
                    <span class = "ranking">#<%= ranking.ranking; %></span>
                    <span class = "country"><%= ranking.country; %></span>
                    <span class = "name"><%= ranking.name; %></span>
                    <span class = "acc"><%= ranking.acc; %>%</span>
                    <span class = "playcount"><%= ranking.plays; %></span>
                    <span class = "pp"><%= ranking.pp; %></span>
                    <span class = "ss"><%= ranking.SS; %></span>
                    <span class = "s"><%= ranking.S; %></span>
                    <span class = "a"><%= ranking.A; %></span>
                </div>
            <% }); %>
        </div>
    </body>
</html>