<!DOCTYPE html>
<html lang = "ja">
    <head>
        <meta charset = "utf-8">
        <title>LeaderBoard</title>
        <%- include("link") %>
        <link rel = "stylesheet" href = "/css/leaderboard.css">
    </head>
    <body>
        <%- include("header") %>
        <div class = "main">
            <div class = "ranking-table">
                <% rankings.forEach((ranking) => { %>
                    <div class = "ranking-data">
                        <span class = "ranking">#<%= ranking.ranking; %></span>
                        <span class = "flag-icon flag-icon-<%= ranking.country; %>"></span>
                        <span class = "name"><%= ranking.name; %></span>
                        <span class = "acc"><%= ranking.acc.toFixed(2); %>%</span>
                        <span class = "playcount"><%= ranking.plays.toLocaleString(); %></span>
                        <span class = "pp"><%= ranking.pp.toLocaleString(); %></span>
                        <span class = "ss"><%= ranking.SS.toLocaleString(); %></span>
                        <span class = "s"><%= ranking.S.toLocaleString(); %></span>
                        <span class = "a"><%= ranking.A.toLocaleString(); %></span>
                        <br>
                    </div>
                <% }); %>
            </div>
        </div>
    </body>
</html>