<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            <% if (type === "register") { %>
                Register 
            <% } else if (type === "signin") { %>
                Sign in 
            <% } else if (type === "settings") { %>
                Settings 
            <% } %>
            | Mamestagram
        </title>
        <%- include("references/head") %>
        <link rel="stylesheet" href="/css/account.css?<%= currentTime %>" />
    </head>
    <body>
        <%- include("references/loading") %>
        <%- include("references/header") %>
        <main>
            <% if (type === "register" || type === "signin") { %>
                <div class="box account-form">
                    <!-- Register -->
                    <form id="register"
                    <% if (type === "register") { %>
                        class="face<%= errLi.username.length > 0 || errLi.email.length > 0 || errLi.password.length > 0 || errLi.hf || errLi.bot ? " error" : "" %>"
                    <% } %> action="/register" method="post">
                        <h1>Register</h1>
                        <div class="username">
                            <input type="text" name="username" placeholder="Username" value="<%= type === "register" ? name : "" %>" oninput="checkRegister()" required />
                            <p class="caution">*16 characters or less</p>
                            <p class="error">
                                <% errLi.username.forEach((err) => { %>
                                    <%= err %>
                                <% }); %>
                            </p>
                        </div>
                        <div class="email">
                            <input type="email" name="email" placeholder="E-mail" value="<%= type === "register" ? email : "" %>" oninput="checkRegister()" required />
                            <p class="error">
                                <% errLi.email.forEach((err) => { %>
                                    <%= err %>
                                <% }); %>
                            </p>
                        </div>
                        <div class="password">
                            <span>
                                <input type="password" name="password" placeholder="Password" value="<%= type === "register" ? password : "" %>" oninput="checkRegister()" required />
                                <i class="fa-solid fa-eye"></i>
                            </span>
                            <p class="caution">*At least 8 characters</p>
                            <p class="caution">*Contains alphabets and numbers</p>
                            <p class="error">
                                <% errLi.password.forEach((err) => { %>
                                    <%= err %>
                                <% }); %>
                            </p>
                        </div>
                        <div class="confirm">
                            <span>
                                <input type="password" name="confirm" placeholder="Confirm password" oninput="checkRegister()" required />
                                <i class="fa-solid fa-eye"></i>
                            </span>
                            <p class="error"></p>
                        </div>
                        <p class="reference">Already have an account? <a href="/account?class=signin">Sign in</a></p>
                        <center><p class="caution">*Do not create multiple account</p></center>
                        <p class="error">
                            <% if (errLi.bot) { %>
                                A problem has occurred
                            <% } else if (errLi.hf) { %>
                                Give it a little time
                            <% } %>
                        </p>
                        <input id="post" type="hidden" name="recaptcha" value="default">
                        <button class="g-recaptcha" data-sitekey="<%= recaptchaSecretKey %>" data-callback="onSubmit" data-action="submit" disabled>Register</button>
                    </form>
                    <!-- Sign in -->
                    <form id="signin"
                    <% if (type === "signin") { %>
                        class="face<%= errLi.username.length > 0 || errLi.password.length > 0 ? " error" : "" %>"
                    <% } %> action="/signin" method="post">
                        <h1>Sign in</h1>
                        <div class="username">
                            <input type="text" name="username" placeholder="Username" value="<%= type === "signin" ? name : "" %>" oninput="checkSignIn()" required />
                            <p class="error"></p>
                        </div>
                        <div class="password">
                            <span>
                                <input type="password" name="password" placeholder="Password" value="<%= type === "signin" ? password : "" %>" oninput="checkSignIn()" required />
                                <i class="fa-solid fa-eye"></i>
                            </span>
                            <p class="error"></p>
                        </div>
                        <p class="error">
                            <% errLi.username.forEach((err) => { %>
                                <%= err %>
                            <% }); %>
                            <% errLi.password.forEach((err) => { %>
                                <%= err %>
                            <% }); %>
                        </p>
                        <p class="reference">Don't you have an account? <a href="/account?class=register">Register</a></p>
                        <button type="submit" disabled>Sign in</button>
                    </form>
                </div>
            <% } else { %>
                <div class="box settings">

                </div>
            <% } %>
        </main>
        <%- include("references/footer") %>
        <%- include("references/script") %>
        <script src="/js/account.js?<%= currentTime %>" defer></script>
    </body>
</html>