<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Documents | Mamestagram</title>
        <%- include("references/head") %>
        <link rel="stylesheet" href="/css/documents.css?<%= currentTime %>">
        <!-- 
            ・デザイン
                スクロールすると下からボックスがアニメーションで表示
                前回のデザインのように、目次を左右などに固定し、現在の表示位置を示すようにする。
                aboutの部分のみboxから外して、Titleより小さい文字で表示
        -->
    </head>
    <body>
        <%- include("references/header") %>
        <main>
            <div class="document-title">
                <h1>Documents</h1>
            </div>

            <div class="box about">
                <h2><%= contents.welcome %></h2>
                <div class="about-disc">
                    <%- contents.about %>    
                </div>
            </div>

            <div class="box rules">
                <h2><%= contents.rules %></h2>
                <p><%= contents.ruleDisc %></p>
                <div class="ruleLists">
                    <%- contents.discordRulesList %>
                </div>
                <div class="ruleLists">
                    <%- contents.serverRulesList %>
                </div>
            </div>

            <div class="box connect">
                <h2><%= contents.connect %></h2>
                <p>
                    <%= contents.connectDisc %>>
                </p>
                <%- contents.connectList %>
            </div>

            <div class="box dan">
               
            </div>

            <div class="box faq"></div>
        </main>
        <%- include("references/footer") %>
        <%- include("references/script") %>
        <script src="/js/documents.js?<%= currentTime %>" defer></script>
        <script>
            function clickCopy() {
                const input = document.querySelector("input");
                input.select();
                document.execCommand("copy");
            }
        </script>
    </body>
</html>