<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Documents | Mamestagram</title>
        <%- include("references/head") %>
        <link rel="stylesheet" href="/css/documents.css?<%= currentTime %>">
        <!-- 
            ãƒ»ãƒ‡ã‚¶ã‚¤ãƒ³
                ã‚¹ã‚¯ãƒ­ãƒ¼ãƒ«ã™ã‚‹ã¨ä¸‹ã‹ã‚‰ãƒœãƒƒã‚¯ã‚¹ãŒã‚¢ãƒ‹ãƒ¡ãƒ¼ã‚·ãƒ§ãƒ³ã§è¡¨ç¤º
                å‰å›žã®ãƒ‡ã‚¶ã‚¤ãƒ³ã®ã‚ˆã†ã«ã€ç›®æ¬¡ã‚’å·¦å³ãªã©ã«å›ºå®šã—ã€ç¾åœ¨ã®è¡¨ç¤ºä½ç½®ã‚’ç¤ºã™ã‚ˆã†ã«ã™ã‚‹ã€‚
                aboutã®éƒ¨åˆ†ã®ã¿boxã‹ã‚‰å¤–ã—ã¦ã€Titleã‚ˆã‚Šå°ã•ã„æ–‡å­—ã§è¡¨ç¤º
        -->
    </head>
    <body>
        <%- include("references/header") %>
        <main>
            <div class="document-title">
                <h1>Documents</h1>
            </div>

            <div class="box about">
                <h2><%= contents.welcome %></h2>
                <div class="about-disc">
                    <%- contents.about %>    
                </div>
            </div>

            <div class="box rules">
                <h2><%= contents.rules %></h2>
                <p><%= contents.ruleDisc %></p>
                <div class="ruleLists">
                    <%- contents.discordRulesList %>
                </div>
                <div class="ruleLists">
                    <%- contents.serverRulesList %>
                </div>
            </div>

            <div class="box connect">
                <h2><%= contents.connect %></h2>
                <p>
                    <%= contents.connectDisc %>
                </p>
                <%- contents.connectList %>
            </div>

            <div class="box dan">
               <h2><%= contents.dans %></h2>
               <p>
                     <%= contents.danDisc %>
               </p>
               <p>
                    <%= contents.danDownload %><br>
                    <a href="https://discord.com/channels/944248031136587796/1175719230650449940" target="_blank" rel="noopener noreferrer">
                        # ðŸŽ¹ | dan
                    </a>
               </p>
               <p>
                    <%- contents.danList %>
               </p>
            </div>

            <div class="box faq"></div>
        </main>
        <%- include("references/footer") %>
        <%- include("references/script") %>
        <script src="/js/documents.js?<%= currentTime %>" defer></script>
        <script>
            function clickCopy() {
                const input = document.querySelector("input");
                input.select();
                document.execCommand("copy");
            }
        </script>
    </body>
</html>