<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dashboard | Mamestagram</title>
        <%- include("references/head") %>
        <link rel="stylesheet" href="/css/home.css?<%= currentTime %>" />
        <link rel="stylesheet" href="/css/common/odometer-theme-minimal.css?<%= currentTime %>" />
    </head>
    <body>
        <%- include("references/loading") %>
        <%- include("references/header") %>
        <div class="banner">
            <div class="server-bg"></div>
            <h1>Home Page</h1>
        </div>
        <main>
            <h1><img src="/images/mamesosu.webp?<%= currentTime %>" /></h1>
            <p class="description">
                Welcome to <span>Mamestagram</span>! This is an private osu! server that display scores<br>
                that are not ranked on official servers such as <strong>Relax</strong> and <strong>AutoPilot</strong>.<br>
                We have <strong>Dan Certifications</strong> in all game modes that allows you to measure your skill level.<br>
                Also we have a <a class="an-tab" href="/discord" target="_blank" rel="noopener noreferrer">Discord</a> server so please join us as we provide you with a variety of information!
            </p>
            <div class="list first-guides">
                <div class="border">
                    <% if (!isLoggedIn) { %>
                        <h1>We're pleasure to see you! How can I help you?</h1>
                        <ul class="guides">
                            <li class="register">
                                <a href="/account?class=register">
                                    <i class="fa-duotone fa-solid fa-square-plus"></i>
                                    Register
                                </a>
                            </li>
                            <li class="signin">
                                <a href="/account?class=signin">
                                    <i class="fa-duotone fa-solid fa-right-to-bracket"></i>
                                    Sign in
                                </a>
                            </li>
                            <li class="connection">
                                <a href="/">
                                    <i class="fa-duotone fa-solid fa-book"></i>
                                    Connection guide
                                </a>
                            </li>
                        </ul>
                    <% } else { %>
                        <h1>Welcome back, <%= username %>. Have fun!</h1>
                        <ul class="guides">
                            <li class="connection">
                                <a href="/">
                                    <i class="fa-duotone fa-solid fa-book"></i>
                                    Connection guide
                                </a>
                            </li>
                            <li class="leaderboard">
                                <a href="/">
                                    <i class="fa-duotone fa-solid fa-bars"></i>
                                    Leaderboard
                                </a>
                            </li>
                            <li class="profile">
                                <a href="/">
                                    <i class="fa-duotone fa-solid fa-address-card"></i>
                                    Profile
                                </a>
                            </li>
                        </ul>
                    <% } %>
                </div>
            </div>
            <div class="list users">
                <h2>
                    <i class="fa-duotone fa-solid fa-chart-mixed"></i>
                    <p>Server Status</p>
                </h2>
                <div class="server-st">
                    <div class="player-wrap current">
                        <i class="fa-solid fa-user" style="color: #4580f7;"></i>: 
                        <div id="players-online" class="odometer"><%= online %></div>
                    </div>
                    <div class="player-wrap total">
                        <i class="fa-duotone fa-solid fa-users"></i>: 
                        <div id="players-total" class="odometer"><%= total %></div>
                    </div>
                </div>
            </div>
            <div class="list pp-record-user">
                <h2>
                    <i class="fa-duotone fa-solid fa-ranking-star"></i>
                    <p>PP Records</p>
                </h2>
                <div class="boxes">
                    <% let user; %>
                    <div class="focused-user-score-data"></div>
                    <div class="flex-box vanilla selected">
                        <% for (let i = 2, n = 0; i <= 6; i++, n++) { %>
                            <% user = ppRecords[`mode${i % 4}`]; %>
                            <div class="user mode-<%= i % 4 %><%= n === 2 ? " focused" : n === 0 || n === 4 ? " edge" : "" %> anim-end">
                                <div class="wrap" style="background-image: url('https://a.<%= baseDomain %>/<%= user.id %>?<%= currentTime %>')">
                                    <p class="mode-title"><i class="mode-icon mode-<%= functions.modeName(i % 4) %>"></i>vn!<%= functions.modeName(i % 4) %></p>
                                </div>
                                <h3>
                                    <i class="mode-icon mode-<%= functions.modeName(i % 4) %>"></i>vn!<%= functions.modeName(i % 4) %>
                                    <span class="country-flag">
                                        <i class="flag-icon flag-icon-<%= user.country %>"></i>
                                        <p class="tooltip"><%= user.country.toUpperCase() %></p>
                                    </span>
                                    <a href="/" class="username"><%= user.name %></a>
                                </h3>
                                <p class="pp"><%= Math.round(user.pp).toLocaleString() %>pp</p>
                                <div class="score-data mode-<%= i % 4 %>">
                                    <img class="map-bg" src="https://assets.ppy.sh/beatmaps/<%= user.set_id %>/covers/cover.jpg?" alt="" />
                                    <span class="map-name"><%= user.artist %> - <%= user.title %></span>
                                    <span class="map-diff">[<%= user.version %>]</span>
                                    <div class="map-score-details">
                                        <img class="grade" src="/images/grades/<%= user.grade %>.webp?<%= currentTime %>" alt="" />
                                        <div class="tables">
                                            <table class="t1">
                                                <tr>
                                                    <th>Total Score</th>
                                                    <th>Accuracy</th>
                                                    <th>Max Combo</th>
                                                </tr>
                                                <tr>
                                                    <td><%= user.score.toLocaleString() %></td>
                                                    <td><%= user.acc.toFixed(2) %>%</td>
                                                    <td><%= user.max_combo.toLocaleString() %></td>
                                                </tr>
                                            </table>
                                            <table class="t2">
                                                <tr>
                                                    <% if (i % 4 === 0) { %> <!-- std -->
                                                        <th>300</th>
                                                        <th>100</th>
                                                        <th>50</th>
                                                    <% } else if (i % 4 === 1) { %> <!-- taiko -->
                                                        <th>Great</th>
                                                        <th>Good</th>
                                                    <% } else if (i % 4 === 2) { %> <!-- ctb -->
                                                        <th>Fruits</th>
                                                        <th>Tricks</th>
                                                        <th>Drop</th>
                                                    <% } else if (i % 4 === 3) { %> <!-- mania -->
                                                        <th>Merv</th>
                                                        <th>Perf</th>
                                                        <th>Great</th>
                                                        <th>Good</th>
                                                        <th>Bad</th>
                                                    <% } %>
                                                    <th>Miss</th>
                                                    <th>Time</th>
                                                    <th>
                                                        <span style="width: <%= 45 * functions.mods(user.mods).length %>px;">Mods</span>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <% if (i % 4 === 0 || i % 4 === 2) { %> <!-- std | ctb -->
                                                        <td><%= user.n300.toLocaleString() %></td>
                                                        <td><%= user.n100.toLocaleString() %></td>
                                                        <td><%= user.n50.toLocaleString() %></td>
                                                    <% } else if (i % 4 === 1) { %> <!-- taiko -->
                                                        <td><%= (user.ngeki + user.n300).toLocaleString() %></td>
                                                        <td><%= (user.nkatu + user.n100).toLocaleString() %></td>
                                                    <% } else if (i % 4 === 3) { %> <!-- mania -->
                                                        <td><%= user.ngeki.toLocaleString() %></td>
                                                        <td><%= user.n300.toLocaleString() %></td>
                                                        <td><%= user.nkatu.toLocaleString() %></td>
                                                        <td><%= user.n100.toLocaleString() %></td>
                                                        <td><%= user.n50.toLocaleString() %></td>
                                                    <% } %>
                                                    <td><%= user.nmiss.toLocaleString() %></td>
                                                    <td>
                                                        <span class="tooltip-element up">
                                                            <%= functions.elapsedTime({
                                                                year: user.year,
                                                                month: user.month,
                                                                week: user.week,
                                                                day: user.day,
                                                                hour: user.hour,
                                                                minute: user.minute,
                                                                second: user.second
                                                            }) %>
                                                            <p class="tooltip bubble"><%= functions.locationTime(user.play_time, isLoggedIn ? timeZone : "UTC") %></p>
                                                        </span>
                                                    </td>
                                                    <td class="mods">
                                                        <% if (functions.mods(user.mods).length <= 0) { %>
                                                            <span class="tooltip-element up mod-icon nm">
                                                                <i class="mod-icon-nm <%= functions.modClassName("nm") %>"></i>
                                                                <p class="tooltip bubble"><%= functions.modName("nm") %></p>
                                                            </span>
                                                        <% } else { %>
                                                            <% functions.mods(user.mods).forEach((mod) => { %>
                                                                <span class="tooltip-element up mod-icon <%= mod %>">
                                                                    <i class="mod-icon-<%= mod %> <%= functions.modClassName(mod) %>"></i>
                                                                    <p class="tooltip bubble"><%= functions.modName(mod) %></p>
                                                                </span>
                                                            <% }); %>
                                                        <% } %>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <div class="flex-box relax">
                        <% for (let i = 5, n = 0; i <= 10; i++, n++) { %>
                            <% if (i % 4 + 4 !== 7) { %>
                                <% user = ppRecords[`mode${i % 4 + 4}`]; %>
                                <div class="user mode-<%= i % 4 %><%= n === 2 ? " focused" : n === 0 || n === 4 ? " edge" : "" %> anim-end">
                                    <div class="wrap" style="background-image: url('https://a.<%= baseDomain %>/<%= user.id %>?<%= currentTime %>')">
                                        <p class="mode-title"><i class="mode-icon mode-<%= functions.modeName(i % 4) %>"></i>rx!<%= functions.modeName(i % 4) %></p>
                                    </div>
                                    <h3>
                                        <i class="mode-icon mode-<%= functions.modeName(i % 4) %>"></i>rx!<%= functions.modeName(i % 4) %>
                                        <span class="country-flag">
                                            <i class="flag-icon flag-icon-<%= user.country %>"></i>
                                            <p class="tooltip"><%= user.country.toUpperCase() %></p>
                                        </span>
                                        <a href="/" class="username"><%= user.name %></a>
                                    </h3>
                                    <p class="pp"><%= Math.round(user.pp).toLocaleString() %>pp</p>
                                    <div class="score-data mode-<%= i % 4 %>">
                                        <img class="map-bg" src="https://assets.ppy.sh/beatmaps/<%= user.set_id %>/covers/cover.jpg?" alt="" />
                                        <span class="map-name"><%= user.artist %> - <%= user.title %></span>
                                        <span class="map-diff">[<%= user.version %>]</span>
                                        <div class="map-score-details">
                                            <img class="grade" src="/images/grades/<%= user.grade %>.webp?<%= currentTime %>" alt="" />
                                            <div class="tables">
                                                <table class="t1">
                                                    <tr>
                                                        <th>Total Score</th>
                                                        <th>Accuracy</th>
                                                        <th>Max Combo</th>
                                                    </tr>
                                                    <tr>
                                                        <td><%= user.score.toLocaleString() %></td>
                                                        <td><%= user.acc.toFixed(2) %>%</td>
                                                        <td><%= user.max_combo.toLocaleString() %></td>
                                                    </tr>
                                                </table>
                                                <table class="t2">
                                                    <tr>
                                                        <% if (i % 4 === 0) { %> <!-- std -->
                                                            <th>300</th>
                                                            <th>100</th>
                                                            <th>50</th>
                                                        <% } else if (i % 4 === 1) { %> <!-- taiko -->
                                                            <th>Great</th>
                                                            <th>Good</th>
                                                        <% } else if (i % 4 === 2) { %> <!-- ctb -->
                                                            <th>Fruits</th>
                                                            <th>Tricks</th>
                                                            <th>Drop</th>
                                                        <% } else if (i % 4 === 3) { %> <!-- mania -->
                                                            <th>Merv</th>
                                                            <th>Perf</th>
                                                            <th>Great</th>
                                                            <th>Good</th>
                                                            <th>Bad</th>
                                                        <% } %>
                                                        <th>Miss</th>
                                                        <th>Time</th>
                                                        <th>
                                                            <span style="width: <%= 45 * functions.mods(user.mods).length %>px;">Mods</span>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <% if (i % 4 === 0 || i % 4 === 2) { %> <!-- std | ctb -->
                                                            <td><%= user.n300.toLocaleString() %></td>
                                                            <td><%= user.n100.toLocaleString() %></td>
                                                            <td><%= user.n50.toLocaleString() %></td>
                                                        <% } else if (i % 4 === 1) { %> <!-- taiko -->
                                                            <td><%= (user.ngeki + user.n300).toLocaleString() %></td>
                                                            <td><%= (user.nkatu + user.n100).toLocaleString() %></td>
                                                        <% } else if (i % 4 === 3) { %> <!-- mania -->
                                                            <td><%= user.ngeki.toLocaleString() %></td>
                                                            <td><%= user.n300.toLocaleString() %></td>
                                                            <td><%= user.nkatu.toLocaleString() %></td>
                                                            <td><%= user.n100.toLocaleString() %></td>
                                                            <td><%= user.n50.toLocaleString() %></td>
                                                        <% } %>
                                                        <td><%= user.nmiss.toLocaleString() %></td>
                                                        <td>
                                                            <span class="tooltip-element up">
                                                                <%= functions.elapsedTime({
                                                                    year: user.year,
                                                                    month: user.month,
                                                                    week: user.week,
                                                                    day: user.day,
                                                                    hour: user.hour,
                                                                    minute: user.minute,
                                                                    second: user.second
                                                                }) %>
                                                                <p class="tooltip bubble"><%= functions.locationTime(user.play_time, isLoggedIn ? timeZone : "UTC") %></p>
                                                            </span>
                                                        </td>
                                                        <td class="mods">
                                                            <% if (functions.mods(user.mods).length <= 0) { %>
                                                                <span class="tooltip-element up mod-icon nm">
                                                                    <i class="mod-icon-nm <%= functions.modClassName("nm") %>"></i>
                                                                    <p class="tooltip bubble"><%= functions.modName("nm") %></p>
                                                                </span>
                                                            <% } else { %>
                                                                <% functions.mods(user.mods).forEach((mod) => { %>
                                                                    <span class="tooltip-element up mod-icon <%= mod %>">
                                                                        <i class="mod-icon-<%= mod %> <%= functions.modClassName(mod) %>"></i>
                                                                        <p class="tooltip bubble"><%= functions.modName(mod) %></p>
                                                                    </span>
                                                                <% }); %>
                                                            <% } %>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } else {
                                n--;
                            } %>
                        <% } %>
                    </div>
                    <div class="flex-box auto-pilot">
                        <% user = ppRecords.mode8; %>
                        <div class="user mode-0 focused anim-end">
                            <div class="wrap" style="background-image: url('https://a.<%= baseDomain %>/<%= user.id %>?<%= currentTime %>')">
                            </div>
                            <h3>
                                <i class="mode-icon mode-std"></i>ap!std
                                <span class="country-flag">
                                    <i class="flag-icon flag-icon-<%= user.country %>"></i>
                                    <p class="tooltip"><%= user.country.toUpperCase() %></p>
                                </span>
                                <a href="/" class="username"><%= user.name %></a>
                            </h3>
                            <p class="pp"><%= Math.round(user.pp).toLocaleString() %>pp</p>
                            <div class="score-data mode-0">
                                <img class="map-bg" src="https://assets.ppy.sh/beatmaps/<%= user.set_id %>/covers/cover.jpg?" alt="" />
                                <span class="map-name"><%= user.artist %> - <%= user.title %></span>
                                <span class="map-diff">[<%= user.version %>]</span>
                                <div class="map-score-details">
                                    <img class="grade" src="/images/grades/<%= user.grade %>.webp?<%= currentTime %>" alt="" />
                                    <div class="tables">
                                        <table class="t1">
                                            <tr>
                                                <th>Total Score</th>
                                                <th>Accuracy</th>
                                                <th>Max Combo</th>
                                            </tr>
                                            <tr>
                                                <td><%= user.score.toLocaleString() %></td>
                                                <td><%= user.acc.toFixed(2) %>%</td>
                                                <td><%= user.max_combo.toLocaleString() %></td>
                                            </tr>
                                        </table>
                                        <table class="t2">
                                            <tr>
                                                <th>300</th>
                                                <th>100</th>
                                                <th>50</th>
                                                <th>Miss</th>
                                                <th>Time</th>
                                                <th>
                                                    <span style="width: <%= 45 * functions.mods(user.mods).length %>px;">Mods</span>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td><%= user.n300.toLocaleString() %></td>
                                                <td><%= user.n100.toLocaleString() %></td>
                                                <td><%= user.n50.toLocaleString() %></td>
                                                <td><%= user.nmiss.toLocaleString() %></td>
                                                <td>
                                                    <span class="tooltip-element up">
                                                        <%= functions.elapsedTime({
                                                            year: user.year,
                                                            month: user.month,
                                                            week: user.week,
                                                            day: user.day,
                                                            hour: user.hour,
                                                            minute: user.minute,
                                                            second: user.second
                                                        }) %>
                                                        <p class="tooltip bubble"><%= functions.locationTime(user.play_time, isLoggedIn ? timeZone : "UTC") %></p>
                                                    </span>
                                                </td>
                                                <td class="mods">
                                                    <% if (functions.mods(user.mods).length <= 0) { %>
                                                        <span class="tooltip-element up mod-icon nm">
                                                            <i class="mod-icon-nm <%= functions.modClassName("nm") %>"></i>
                                                            <p class="tooltip bubble"><%= functions.modName("nm") %></p>
                                                        </span>
                                                    <% } else { %>
                                                        <% functions.mods(user.mods).forEach((mod) => { %>
                                                            <span class="tooltip-element up mod-icon <%= mod %>">
                                                                <i class="mod-icon-<%= mod %> <%= functions.modClassName(mod) %>"></i>
                                                                <p class="tooltip bubble"><%= functions.modName(mod) %></p>
                                                            </span>
                                                        <% }); %>
                                                    <% } %>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="special-switch">
                    <li class="vanilla selected"><span>Vanilla</span></li>
                    <li class="relax"><span>Relax</span></li>
                    <li class="auto-pilot"><span>Auto Pilot</span></li>
                </ul>
            </div>
        </main>
        <%- include("references/footer") %>
        <%- include("references/script") %>
        <script src="/js/home.js?<%= currentTime %>" defer></script>
        <script src="/js/common/odometer.min.js?<%= currentTime %>" defer></script>
    </body>
</html>