<!DOCTYPE html>
<html lang="ja">
    <head>
        <Title>Dashboard | Mamestagram</Title>
        <%- include("references/head", { currentTime }) %>
        <link rel="stylesheet" href="/css/home.css?<%= currentTime %>" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">

        <script src="/js/home.js?<%= currentTime %>" defer></script>
    </head>
    <body>
        <%- include("references/header", { currentTime }) %>
        <main>
            <h1>Mamestagram</h1>
            <div class="pp-record-user">
                <div class="boxes">
                    <% let user; %>
                    <div class="flex-box vanilla selected">
                        <% for (let i = 2, n = 0; i <= 6; i++, n++) { %>
                            <% user = ppRecords[`mode${i % 4}`]; %>
                            <div class="user<%= n === 2 ? " focused" : n === 0 || n === 4 ? " edge" : "" %>">
                                <div class="wrap">
                                    <img src="https://a.mamesosu.net/<%= user.id %>?<%= currentTime %>" alt="" />
                                    <p class="mode-title"><i class="mode-icon mode-<%= functions.modeName(i % 4) %>"></i>vn!<%= functions.modeName(i % 4) %></p>
                                </div>
                                <h3>
                                    <i class="mode-icon mode-<%= functions.modeName(i % 4) %>"></i>vn!<%= functions.modeName(i % 4) %>
                                    <span class="country-flag">
                                        <i class="flag-icon flag-icon-<%= user.country %>"></i>
                                        <p class="tooltip"><%= user.country.toUpperCase() %></p>
                                    </span>
                                    <span class="username"><%= user.name %></span>
                                </h3>
                                <p class="pp"><%= Math.round(user.pp) %>pp</p>
                            </div>
                        <% } %>
                    </div>
                    <div class="flex-box relax">
                        <% for (let i = 5, n = 0; i <= 10; i++, n++) { %>
                            <% if (i % 4 + 4 !== 7) { %>
                                <% user = ppRecords[`mode${i % 4 + 4}`]; %>
                                <div class="user<%= n === 2 ? " focused" : n === 0 || n === 4 ? " edge" : "" %>">
                                    <div class="wrap" style="background-image: url('https://a.mamesosu.net/<%= user.id %>?<%= currentTime %>')">
                                        <p class="mode-title"><i class="mode-icon mode-<%= functions.modeName(i % 4) %>"></i>rx!<%= functions.modeName(i % 4) %></p>
                                    </div>
                                    <h3>
                                        <i class="mode-icon mode-<%= functions.modeName(i % 4) %>"></i>rx!<%= functions.modeName(i % 4) %>
                                        <span class="country-flag">
                                            <i class="flag-icon flag-icon-<%= user.country %>"></i>
                                            <p class="tooltip"><%= user.country.toUpperCase() %></p>
                                        </span>
                                        <span class="username"><%= user.name %></span>
                                    </h3>
                                    <p class="pp"><%= Math.round(user.pp) %>pp</p>
                                </div>
                            <% } else {
                                n--;
                            } %>
                        <% } %>
                    </div>
                    <div class="flex-box auto-pilot">
                        <div class="user focused">
                            <div class="wrap">
                                <img src="https://a.mamesosu.net/<%= user.id %>?<%= currentTime %>" alt="" />
                            </div>
                            <h3>
                                <i class="mode-icon mode-std"></i>ap!std
                                <span class="country-flag">
                                    <i class="flag-icon flag-icon-<%= user.country %>"></i>
                                    <p class="tooltip"><%= user.country.toUpperCase() %></p>
                                </span>
                                <span class="username"><%= user.name %></span>
                            </h3>
                            <p class="pp"><%= Math.round(user.pp) %>pp</p>
                        </div>
                    </div>
                </div>
                <ul class="special-switch">
                    <li class="vanilla selected"><span>Vanilla</span></li>
                    <li class="relax"><span>Relax</span></li>
                    <li class="auto-pilot"><span>Auto Pilot</span></li>
                </ul>
            </div>

    <!--------------------------------------------------------------------------------->

            <div class="list">
                <h2>Server Status</h2>
                <div class="server-st" id="status">
                    <div class="cr-player" id="online"><i class="fa-solid fa-user" style="color: #4580f7;"></i>: <%= online %></div>
                    <div class="tot-player" id="total"><i class="fa-duotone fa-solid fa-users"></i>: <%= total %></div>    
                </div>
            </div>
            <script>
                const fetchStatus = async () => {
                    try {
                        const response = await fetch('/getstatus');
                        const newStatus = await response.json();

                        document.getElementById('online').innerHTML = `<i class="fa-solid fa-user" style="color: #4580f7;"></i>: ${newStatus.online}`;
                        document.getElementById('total').innerHTML = `<i class="fa-duotone fa-solid fa-users"></i>: ${newStatus.total}`;
                    } catch {
                        console.error(error);
                    }
                }

                window.onload = () => {
                    fetchStatus();
                    setInterval(fetchStatus, 5000);
                }
            </script>
            
        </main>
        <%- include("references/footer", { 
            currentTime,
            developer,
            contributor,
            moderator,
            nominator
        }) %>
    </body>
</html>