<!DOCTYPE html>
<html lang="ja">
    <head>
        <Title>Dashboard | Mamestagram</Title>
        <%- include("references/head", { currentTime }) %>
        <link rel="stylesheet" href="/css/home.css?<%= currentTime %>" />
        <script src="/js/home.js?<%= currentTime %>" defer></script>
    </head>
    <body>
        <%- include("references/header", { currentTime }) %>
        <main>
            <h1>Mamestagram</h1>
            <div class="pp-record-user">
                <% let user; %>
                <div class="flex-box vanilla selected">
                    <% for (let i = 2, n = 0; i <= 6; i++, n++) { %>
                        <% user = ppRecords[`mode${i % 4}`]; %>
                        <div class="user<%= n === 2 ? " focused" : n === 0 || n === 4 ? " edge" : "" %>">
                            <div class="wrap">
                                <img src="https://a.mamesosu.net/<%= user.id %>?<%= currentTime %>" alt="" />
                                <p class="mode-title"><i class="mode-icon mode-<%= functions.modeName(i % 4) %>"></i>vn!<%= functions.modeName(i % 4) %></p>
                            </div>
                            <h3>
                                <i class="mode-icon mode-<%= functions.modeName(i % 4) %>"></i>vn!<%= functions.modeName(i % 4) %>
                                <span class="country-flag">
                                    <i class="flag-icon flag-icon-<%= user.country %>"></i>
                                    <p class="tooltip"><%= user.country.toUpperCase() %></p>
                                </span>
                                <span class="username"><%= user.name %></span>
                            </h3>
                            <p class="pp"><%= Math.round(user.pp) %>pp</p>
                        </div>
                    <% } %>
                </div>
                <div class="flex-box relax">
                    <% for (let i = 5, n = 0; i <= 10; i++, n++) { %>
                        <% if (i % 4 + 4 !== 7) { %>
                            <% user = ppRecords[`mode${i % 4 + 4}`]; %>
                            <div class="user<%= n === 2 ? " focused" : n === 0 || n === 4 ? " edge" : "" %>">
                                <div class="wrap">
                                    <img src="https://a.mamesosu.net/<%= user.id %>?<%= currentTime %>" alt="" />
                                    <p class="mode-title"><i class="mode-icon mode-<%= functions.modeName(i % 4) %>"></i>rx!<%= functions.modeName(i % 4) %></p>
                                </div>
                                <h3>
                                    <i class="mode-icon mode-<%= functions.modeName(i % 4) %>"></i>rx!<%= functions.modeName(i % 4) %>
                                    <span class="country-flag">
                                        <i class="flag-icon flag-icon-<%= user.country %>"></i>
                                        <p class="tooltip"><%= user.country.toUpperCase() %></p>
                                    </span>
                                    <span class="username"><%= user.name %></span>
                                </h3>
                                <p class="pp"><%= Math.round(user.pp) %>pp</p>
                            </div>
                        <% } else {
                            n--;
                        } %>
                    <% } %>
                </div>
                <div class="flex-box auto-pilot">
                    <div class="user focused">
                        <div class="wrap">
                            <img src="https://a.mamesosu.net/<%= user.id %>?<%= currentTime %>" alt="" />
                        </div>
                        <h3>
                            <i class="mode-icon mode-std"></i>ap!std
                            <span class="country-flag">
                                <i class="flag-icon flag-icon-<%= user.country %>"></i>
                                <p class="tooltip"><%= user.country.toUpperCase() %></p>
                            </span>
                            <span class="username"><%= user.name %></span>
                        </h3>
                        <p class="pp"><%= Math.round(user.pp) %>pp</p>
                    </div>
                </div>
                <ul class="special-switch">
                    <li class="vanilla">Vanilla</li>
                    <li class="relax">Relax</li>
                    <li class="auto-pilot">Auto Pilot</li>
                </ul>
            </div>
        </main>
        <%- include("references/footer") %>
    </body>
</html>