<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Leaderboard | Mamestagram</title>
        <%- include("references/head") %>
    </head>
    <body>
        <%- include("references/loading") %>
        <%- include("references/header") %>
        <div class="banner">
            <div class="server-bg"></div>
            <h1>Leaderboard</h1>
        </div>
        <main>

        </main>
        <%- include("references/footer") %>
        <%- include("references/script") %>
    </body>
</html>