<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Leaderboard | Mamestagram</title>
        <%- include("references/head") %>
    </head>
    <body>
        <%- include("references/loaging") %>
        <%- include("references/header") %>
        <main>

        </main>
        <%- include("references/footer") %>
        <%- include("references/script") %>
    </body>
</html>